# FILES
# ---
.DS_Store

# FOLDERS
# ---
# permanent
# ---
.ipynb_checkpoints/
bin/
experimental/
genomes/
__pycache__/
test_1st/
# ---
# temporary
# ---
database/
gene_products/
models/
records/
results/
sequences/
