# FILES
# ---
.DS_Store

# FOLDERS
# ---
# permanent
# ---
.ipynb_checkpoints/
__pycache__/
_bin/
_experimental/
_tests/
gene_products/
genomes/
records/
src/sub/holins
src/sub/results_tmhmm
# ---
# temporary
# ---
database/
database_cs/
_models/
models/
models_cs/
results/
_sequences/
sequences/
sequences_cs/
