# FILES
# ---
.DS_Store

# --------------------

# FOLDERS
# ---
.ipynb_checkpoints/
__pycache__/
_bin/
_database/
_experimental/
_genomes/
_miscellaneous/
_models/
_sequences/
_sequences_cs/
_sequences_test_cs/
_sequences_train_cs/
database/
database_cs/
gene_products/
genomes/
models_cs/
records/
results/
sequences/
sequences_cs/
sequences_test_cs/
sequences_train_cs/
src/sub/figures/
src/sub/linear
src/sub/naive
src/sub/TEMP
